@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

#root {
  min-height: 100vh;
}
